#search-component
    h4 Hero Search
    input#search-box('#searchBox' '(keyup)'='search(searchBox.value)')/

    div
        .search-result('*ngFor'='let hero of heroes | async' '(click)'='gotoDetail(hero)') {{hero.name}}