h1 {{ title }}
h2 My Heroes
ul.heroes
    li(
        '*ngFor'='let hero of heroes'
        '[class.selected]'='hero === selectedHero'
        '(click)'='onSelect(hero)'
    )
        span.badge {{hero.id}}
        |  {{hero.name}}

hero('[hero]'='selectedHero')